@media screen and  (min-width: 768px) {
  /* Header Section */
  header {
    background-position: -2vw 125px, center 90px, left 95px, left 45px;
    background-size: contain, cover, contain, contain;
  }

  header > div#hero-section > div.row > div {
    padding-top: 0px;
  }

  header > div#hero-section > div.row > div:first-child {
    margin-top: 140px;
    text-align: left;
  }

  header > div#hero-section p#hero-title {
    font-size: 22px;
  }
  /* End of Header Section */
}

@media screen and  (min-width: 1024px) {
  /* Header Section */
  header > div#hero-section > div.row > div:first-child {
    margin-top: 200px;
    text-align: left;
  }

  header > div#hero-section p#hero-title {
    font-size: 28px;
  }
  /* End of Header Section */
}
