html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f9ff;
}

h1,
p {
  font: 700 2.5rem "Roboto", sans-serif;
  color: #353855;
}

p {
  font-weight: normal;
  font-size: 1rem;
}

p.lh-30 {
  line-height: 30px;
}

button.btn-custom {
  border: none !important;
  border-radius: 8px !important;
  color: white;
  font: 600 16px "Montserrat", sans-serif !important;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
}

section {
  padding: 64px 0px;
}

.bg-j-gradient {
  background-image: linear-gradient(to right, #4f98ca, #4dd08b);
}

.bg-j-blue {
  background-color: #4f98ca;
}

.bg-j-white {
  background-color: #f5f9ff;
}

.text-j-white {
  color: #f5f9ff;
}

.text-j-blue {
  color: #4f98ca !important;
}

/* Spinner Loading */
div#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f9ff;
  z-index: 99;
}

div#loading > div.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#loading > div.spinner-wrapper > div.spinner-grow {
  width: 3rem;
  height: 3rem;
}
/* End of Spinner Loading */

/* Header Section */
header {
  background-color: #f5f9ff !important;
  background: no-repeat center/100% url("../images/svg-gradient.svg");
  background-image: url("../images/svg-line.svg"),
    url("../images/svg-solid.svg"), url("../images/svg-gradient.svg"),
    url("../images/scg-rect-black.svg");
  background-position: -4vw 78px, center 80px, -4px 70px, left 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

header > nav {
  background-color: #272727;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}

header > nav button#navbar-toggler {
  border: none;
}

header > nav button#navbar-toggler:focus {
  outline: none;
}

header > nav ul.navbar-nav a {
  font: 400 16px "Roboto", sans-serif;
}

header > div#hero-section {
  padding-top: 120px;
}

header > div#hero-section > div.row > div {
  padding-top: 48px;
}

header > div#hero-section > div.row > div:first-child {
  text-align: center;
}

header > div#hero-section h4#hero-title {
  font: 700 22px "Roboto", sans-serif;
  color: #353855;
  letter-spacing: 0.5px;
}
/* End of Header Section */

/* About Section */
section#about {
  padding: 60px 0;
  text-align: center;
}

section h1 {
  font-size: 32px;
}

section#about div#info-client div.row b {
  font-size: 2rem;
}
/* End of About Section */

/* Service Section */
section#services div.row {
  margin-bottom: 48px;
}

section#services div.row > div.col-12 {
  margin-top: 48px;
}
/* End of Service Section */

/* Portfolio Section */
section#portfolio div#portfolio-nav a {
  font: 400 16px "Roboto", sans-serif;
  color: #353855;
  text-decoration: none;
  margin-left: 24px;
}

section#portfolio div#portfolio-nav a:first-child {
  margin-left: 0px;
}

section#portfolio div#portfolio-nav a.active {
  padding-bottom: 4px;
  border-bottom: 2px solid #4dc19b;
}
/* End of Portfolio Section */

@media screen and (max-width: 374px) {
}
