@media screen and (min-width: 768px) {
  /* Header Section */
  header {
    background-position: -4vw 110px, center 70px, left 95px, center 45px;
    background-size: contain, cover, contain, cover;
  }

  header > div#hero-section > div.row > div {
    padding-top: 0px;
  }

  header > div#hero-section > div.row > div:first-child {
    margin-top: 110px;
    text-align: left;
  }

  header > div#hero-section h4#hero-title {
    font-size: 26px;
  }

  header > div#hero-section div#hero-image img {
    margin: -24px 0 0 -20px;
    max-width: 110%;
  }
  /* End of Header Section */

  /* About Section */
  section#about div#info-client > div.col-md-4:first-child {
    border-right: 1px solid rgba(39, 39, 39, 0.5);
  }

  section#about div#info-client > div.col-md-4:last-child {
    border-left: 1px solid rgba(39, 39, 39, 0.5);
  }

  section#about div#info-client div.col-6 div.col-md-6:last-child {
    padding-left: 0px;
  }

  section#about div#info-client b,
  section#about div#info-client span {
    line-height: 48px;
  }
  /* End of About Section */
}

@media screen and (min-width: 1024px) {
  /* Header Section */
  header > div#hero-section > div.row > div:first-child {
    margin-top: 160px;
    text-align: left;
  }

  header > div#hero-section h4#hero-title {
    font-size: 36px;
  }
  /* End of Header Section */
}
